.list {
    display: flex;
    flex-direction: column;
    width: 8vw;
    min-height: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, #f1eadb, #e8e8f8);
    align-items: center;
    justify-content: center;
}

.item a {
    text-decoration: none;
    color: #5a5aad; /* Глубокий сиреневый */
}

.item a:hover {
    color: #9d9df2; /* Светлее при наведении */
    background-color: rgba(122, 122, 230, 0.1); /* Лёгкий фон */
}