* {
    box-sizing: border-box;
}

.App-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 165, 215, 0.43);
    border: 1px solid red;
    gap: 1vh
}

.App-wrapper-content {
    margin: 0 auto;
    display: flex;
    width: 90vw;
    height: 76vh;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid green;
    gap: 1vh;
}